* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: white; 
    margin-left: 15px;
    text-decoration: none;
    font-size: 18px; 
}

nav a:hover {
    background-color: rgba(50, 70, 130, 0.9);
    border-radius: 5px;
    color: rgb(200, 230, 255); 
    padding: 7px;
}

body {
    background-color: rgb(40, 50, 80); 
    font-size: 20px;
    margin: 60px;
    color: white; 
}

select {
    margin-left: 10px;
    padding: 10px;
    font-size: 16px; 
    border-radius: 5px;
    border: none;
    background-color: rgb(100, 130, 200); 
    color: white; 
}

li {
    padding-top: 30px;
    font-size: 18px; 
}

button {
    background-color: rgb(70, 100, 180); 
    border: none;
    font-size: 18px; 
    border-radius: 10px;
    margin-left: 10px;
    padding: 12px;
    color: white; 
}

button:hover {
    background-color: rgb(50, 80, 150); 
    cursor: pointer;
}

input {
    border: 2px solid rgb(150, 200, 255); 
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 18px; 
    width: 30%;
    margin-bottom: 10px;
    background-color: rgb(240, 250, 255); 
    color: rgb(40, 50, 80); 
}

label {
    padding-left: 10px;
}

input[type="submit"] {
    border: 1px solid rgb(150, 200, 255); 
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(70, 100, 180); 
    color: white; 
}

input[type="submit"]:hover {
    background-color: rgb(50, 80, 150); 
    cursor: pointer;
}

form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#message {
    font-size: 18px; 
    margin-top: 10px;
    padding-left: 13px;
    color: rgb(200, 230, 255); 
}
