*{
    margin: 0px;
    padding: 0px;
}
fieldset {
    color: rgb(18, 20, 20);
    background-color: rgb(186, 199, 136);
    border: 1px solid rgb(255,255,255);
    width: 100px;
}
input{
    background-color: rgb(240, 223, 223);
    border: 1px solid rgb(255,255,255);
    color: rgb(178, 97, 97);
}

body{
    background-color:rgb(189, 185, 185);
}

table{
    background-color:  rgb(84, 178, 211);
    border:  rgb(0, 0, 0);
}

div{
    background-color: rgb(90, 136, 179);
    color: rgb(255, 255, 255);
    padding: 25px;
    text-align: vertical;

}
a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color:azure;
}

a:hover{
    color: rgb(0, 0, 0);
}

h1{
    font-size: 50px; 
    text-align: center;
}

nav{
    background-color: linear-gradient(to top, #3498db, #ffffff);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    width: 100%;
    height: auto;
    max-height: 550px;
}



